@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h2>
        Функционал:
    </h2>
    <ol>
        <li>
            Добавление фермы: форма с именем фермера, названием фермы, культурой, урожаем в тоннах за прошлый год, площадью фермы. Для работы с БД использовать Entity Framework.
        </li>
        <li>
            Отображение всех ферм в табличном виде с возможностью удалять фермы.
        </li>
        <li>
            Аналитика в табличном виде без использования готовых компонентов. Есть 3 секции: columns, rows, fixed. Должна быть возможность выбрать, что будет в этих секциях: регион, культура или индикатор (урожай, площадь). Пример: PivotTable в Excel.
        </li>
    </ol>
   </p>