@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Решетников Алексей Леонидович<br />
    Россия, город Пермь<br />
               <abbr title="Телефон">Т:</abbr>
    (8)902-47-67-519
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:areshek@mail.ru">areshek@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:areshek@mail.ru">areshek@mail.ru</a>
</address>
